@import 'https://fonts.googleapis.com/css?family=Roboto';
@import 'https://fonts.googleapis.com/css?family=Norican';

a, a:hover {
  color: #820b5f;
}

.top-space {
  margin-top: 25px;
}

.top-space-2x {
  margin-top: 50px;
}

.divide {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin-top: 30px;
    margin-bottom: 30px;
}

.landing-screen {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  height: -moz-calc(100vh - 50px);
  height: -webkit-calc(100vh - 50px);
  height: calc(100vh - 50px);
  color: white;
  /* IE10+ */
  background-image: -ms-radial-gradient(center, ellipse farthest-corner, #820b5f 0%, #5b0742 100%);
  /* Mozilla Firefox */
  background-image: -moz-radial-gradient(center, ellipse farthest-corner, #820b5f 0%, #5b0742 100%);
  /* Opera */
  background-image: -o-radial-gradient(center, ellipse farthest-corner, #820b5f 0%, #5b0742 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(0, #820b5f), color-stop(100, #5b0742));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #820b5f 0%, #5b0742 100%);
  /* W3C Markup */
  background-image: radial-gradient(ellipse farthest-corner at center, #820b5f 0%, #5b0742 100%);
}

.logo {
  margin-top: 5%;
  height: 30vh;
}

.assos-logo {
  display: block;
  margin: 0 auto;
  width: 300px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.brand-middle {
  text-align: center;
  margin-top: 45vh; /* poussé de la moitié de hauteur de viewport */
  transform: translateY(-50%);
}

.btn-style {
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
  color: #fff;
  background: transparent;
  border: 4px solid #fff;
}

.btn-style:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-style:active {
	top: 2px;
}

.btn-style:hover {
	background: #fff;
	color: #444;
}

.social-network a {
  color: white;
}

.footer {
  margin-top: 50px;
  padding-top: 20px;
  color: #eeeeee;
  background-color: #750955;
  border-style: solid;
  border-color: #999;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-width: 3px;
}

.sitemap a {
  color: #eeeeee;
}

.clubs .panel-heading {
  color: white;
  text-align: center;
}

.clubs .integration {
  background-color: #d33f2c;
}

.clubs .studio {
  background-color: #4caf50;
}

.clubs .bar {
  background-color: #00bcd4;
}

.clubs .jig {
  background-color: #e91e63;
}

.clubs .tektn {
  background-color: #9e9e9e;
}

.clubs .madpad {
  background-color: #ff9800;
}

.clubs .panel-title {
  font-family: Norican;
  font-size: 2em;
  margin-top: 20px;
  margin-bottom: 20px;
}

.clubs .clickable {
  cursor: pointer;
}

.clubs .panel-body li {
margin-top: 5px;
margin-bottom: 5px;
}

.clubs .overview {
  height:120px;
  text-align: center;
  overflow:auto;
    display: inline-block;
    vertical-align: middle;
    float: none;
}
